asgiref
click
colorama
cssbeautifier
dj-database-url
Django
django-environ
djlint
EditorConfig
html-tag-names
html-void-elements
jsbeautifier
json5
pathspec
psycopg2
PyYAML
regex
six
sqlparse
tqdm
typing_extensions
tzdata