{% extends 'base.html' %}
{% block head_title %}
    Metro Express | Booking List
{% endblock head_title %}
{% block content %}
    <div class="container mx-auto pt-8 h-screen">
        <h1 class="text-2xl mb-4">Booking Information</h1>
        {% if user_bookings %}
            <table class="min-w-full bg-white border border-gray-300">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b">Passenger</th>
                        <th class="py-2 px-4 border-b">Train</th>
                        <th class="py-2 px-4 border-b">Class</th>
                        <th class="py-2 px-4 border-b">Selected Seats</th>
                        <th class="py-2 px-4 border-b">Seats Quantity</th>
                        <th class="py-2 px-4 border-b">Price</th>
                        <th class="py-2 px-4 border-b"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in user_bookings %}
                        <tr>
                            <td class="py-2 px-4 border-b text-center">{{ booking.user.first_name }} {{ booking.user.last_name }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ booking.train.name }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ booking.class_type }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ booking.selected_seat }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ booking.seats_quantity }}</td>
                            <td class="py-2 px-4 border-b text-center">${{ booking.total_price }}</td>
                            <td class="py-2 px-4 border-b text-center">
                                <a href="{% url 'train_review' booking.train.id %}"
                                   class="underline text-green-700">Write a review</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No bookings found.</p>
        {% endif %}
    </div>
{% endblock %}
