{% extends "base.html" %}
{% block title %}
    Metro Express | User Registration
{% endblock title %}
{% block content %}
    <div class="container w-1/2 mx-auto pt-8">
        <h1 class="text-2xl font-bold mb-4">User Registration</h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                Submit
            </button>
        </form>
        <p class="my-4">
            <a href="#">Already have an account?</a>
        </p>
    </div>
{% endblock content %}
