{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% else %}
        <p>Please, use the following form to login</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit">Submit</button>
    </form>
    <p>
        <a href="#">Forgotten your password?</a>
    </p>
{% endblock content %}
