{% extends 'base.html' %}
{% block head_title %}
    Metro Express | Contact Us
{% endblock head_title %}
{% block content %}
    <div class="h-screen w-1/2 mx-auto">
        <h2 class="text-xl uppercase py-4">Contact Us</h2>
        <p class="pb-4 text-lg">Feel free to reach out to us using the form below:</p>
        <form method="post">
            {% csrf_token %}
            <label for="name" class="uppercase text-sm font-bold">Name:</label>
            <br />
            <input class="w-2/3 mb-4 py-2 rounded"
                   type="text"
                   id="name"
                   name="name"
                   required>
            <br />
            <label for="email" class="uppercase text-sm font-bold">Email:</label>
            <br />
            <input class="w-2/3 mb-4 py-2 rounded"
                   type="email"
                   id="email"
                   name="email"
                   required>
            <br />
            <label for="message" class="uppercase text-sm font-bold">Message:</label>
            <br />
            <textarea class="w-2/3 mb-4 py-8 rounded"  id="message" name="message" required></textarea>
            <br />
            <button type="submit"
                    class="uppercase text-sm font-bold border-0 rounded px-4 py-2 bg-sky-500 hover:bg-sky-900">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
