{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Metro Express | Home
{% endblock head_title %}
{% block content %}
    <div class="relative">
        <img class="w-full h-screen" src="{% static 'images/train.jpg' %}" />
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white">
            <form method="post"
                  action="{% url 'train_search' %}"
                  class="max-w-md mx-auto bg-white p-8 border border-gray-300 mt-10 rounded shadow-lg">
                {% csrf_token %}
                <h2 class="text-2xl text-black mb-4">Search Trains</h2>
                <div class="flex gap-4">
                    <div class="mb-4">
                        <label for="from_station" class="block text-gray-700 font-bold mb-2">From:</label>
                        <input type="text"
                               id="from_station"
                               name="from_station"
                               class="border rounded w-full py-2 px-3 text-black"
                               placeholder="Enter From Station">
                    </div>
                    <div class="mb-4">
                        <label for="to_station" class="block text-gray-700 font-bold mb-2">To:</label>
                        <input type="text"
                               id="to_station"
                               name="to_station"
                               class="border rounded w-full py-2 px-3 text-black"
                               placeholder="Enter To Station">
                    </div>
                </div>
                <div class="flex gap-4">
                    <div class="mb-4">
                        <label for="date" class="block text-gray-700 font-bold mb-2">Date:</label>
                        <input type="date"
                               id="date"
                               name="date"
                               class="border rounded w-full py-2 pl-3 pr-8 text-black">
                    </div>
                    <div class="mb-4">
                        <label for="travel_class" class="block text-gray-700 font-bold mb-2">Class:</label>
                        <select id="travel_class"
                                name="travel_class"
                                class="border rounded w-full py-2 pl-3 pr-16 text-black">
                            <option>Select Class</option>
                            <option value="economy">Economy</option>
                            <option value="business">Business</option>
                            <option value="premium">Premium</option>
                            <option value="luxury">Luxury</option>
                        </select>
                    </div>
                </div>
                <button type="submit"
                        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
                    Search
                </button>
            </form>
        </div>
    </div>
{% endblock %}
