<nav class="bg-gray-800 p-4">
    <div class="container mx-auto">
        <div class="flex items-center justify-around">
            <a class="text-white text-lg font-semibold" href="#">Train Ticket Booking</a>
            <div class="hidden sm:block">
                <ul class="flex items-center space-x-6">
                    <li class="nav-item">
                        <a class="text-white hover:underline" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white hover:underline" href="{% url 'trains' %}">Train Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white hover:underline" href="#">Contact Us</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="text-white hover:underline"
                               href="{% url 'passenger_profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white hover:underline"
                               href="{% url 'passenger_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="text-white hover:underline"
                               href="{% url 'passenger_register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white hover:underline" href="{% url 'passenger_login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
