<nav class="bg-gray-800 p-4">
    <div class="container mx-auto">
        <div class="flex items-center justify-around">
            <a class="text-white text-xl font-semibold" href="{% url 'home' %}">Metro Express</a>
            <div class="hidden sm:block">
                <ul class="flex items-center space-x-6">
                    <li class="nav-item">
                        <a class="text-white hover:underline" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white hover:underline"
                           href="{% url 'train_information_search' %}">Train Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="text-white hover:underline" href="{% url 'contact_us' %}">Contact Us</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_staff %}
                            <!-- Display these options only if the user is an admin -->
                            <li class="nav-item">
                                <a class="text-white hover:underline" href="{% url 'train_create' %}">Add Train</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-white hover:underline" href="{% url 'train_list' %}">Train List</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-white hover:underline" href="{% url 'schedule_create' %}">Add Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="text-white hover:underline" href="{% url 'schedule_list' %}">Train Schedule</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="text-white hover:underline"
                               href="{% url 'passenger_profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white hover:underline"
                               href="{% url 'passenger_logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="text-white hover:underline"
                               href="{% url 'passenger_register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="text-white hover:underline" href="{% url 'passenger_login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
