{% extends 'base.html' %}
{% block title %}
    Reviews for {{ train.name }}
{% endblock title %}
{% block content %}
    <div class="container h-screen px-8 pt-5">
        <h1 class="my-4 text-xl">
            Reviews for <i>{{ train.name }}</i>
        </h1>
        <form method="post" action="{% url 'train_review' train.id %}">
            {% csrf_token %}
            <label for="comment">Comment:</label>
            <br />
            <textarea name="comment" class="w-1/2 py-12"></textarea>
            <br>
            <button class="border-0 rounded text-sm px-4 py-2 bg-sky-500" type="submit">Submit</button>
        </form>
        <br />
        <h2 class="mt-8 mb-3">Existing Reviews</h2>
        <hr />
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>{{ review.user.user.first_name }} {{ review.user.user.last_name }}</strong>
                    <br>
                    {{ review.comment }}
                    <br>
                    <i class="text-sm">{{ review.created_at }}</i>
                </li>
                <hr />
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
