{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Metro Express | Update Profile
{% endblock head_title %}
{% block content %}
    {% if form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
             role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ form.non_field_errors }}</p>
        </div>
    {% endif %}
    <div class="bg-sky-200 px-3 py-4 rounded-xl">
        {% if not request.user.is_staff %}
            <a class="ml-8 border-0 bg-gray-100 text-sky-900 rounded px-4 py-2 text-orange-600 hover:bg-sky-200"
               href="{% url 'deposit_money' %}">Deposit Balance</a>
            <a class="ml-8 border-0 bg-gray-100 text-sky-900 rounded px-4 py-2 text-orange-600 hover:bg-sky-200"
               href="{% url 'booking_list' %}">My Booking</a>
            <div class="text-blue-900 my-auto font-black ml-8 mt-4">Balance : ${{ request.user.passenger_profile.balance }}</div>
        {% endif %}
        <div class="w-1/2 mx-auto mt-4">
            <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}{{ hidden_field.errors }} {{ hidden_field }}{% endfor %}
                <h1 class="text-3xl text-center text-sky-900 pb-5 uppercase">Update Profile</h1>
                <hr />
                <div class="flex flex-wrap -mx-3 mb-6 mt-4">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.nid_no.id_for_label }}">{{ form.nid_no.label }}</label>
                        {{ form.nid_no }}
                        {% if form.nid_no.errors %}
                            {% for error in form.nid_no.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.mobile_no.id_for_label }}">{{ form.mobile_no.label }}</label>
                        {{ form.mobile_no }}
                        {% if form.mobile_no.errors %}
                            {% for error in form.mobile_no.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
                        {{ form.gender }}
                        {% if form.gender.errors %}
                            {% for error in form.gender.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.date_of_birth.id_for_label }}">{{ form.date_of_birth.label }}</label>
                        {{ form.date_of_birth }}
                        {% if form.date_of_birth.errors %}
                            {% for error in form.date_of_birth.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                        {{ form.address }}
                        {% if form.address.errors %}
                            {% for error in form.address.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <button class="w-full text-white border-0 bg-sky-500 hover:bg-sky-700 rounded px-4 py-2 focus:outline-none focus:shadow-outline uppercase"
                        type="submit">Update</button>
                <br />
                <a href="{% url 'password_change' %}"
                   class="block text-gray-700 text-sm font-bold text-black hover:underline mt-3">Change password?</a>
            </form>
        </div>
    </div>
{% endblock %}
