{% extends 'base.html' %}
{% load static %}
{% block head_title %}
    Metro Express | Update Schedule
{% endblock head_title %}
{% block content %}
    {% if form.non_field_errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2"
             role="alert">
            <p class="font-bold">Error!</p>
            <p class="block sm:inline">{{ form.non_field_errors }}</p>
        </div>
    {% endif %}
    <div class="h-screen bg-sky-200 px-3 py-4 rounded-xl">
        <div class="w-1/2 mx-auto mt-4">
            <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}{{ hidden_field.errors }} {{ hidden_field }}{% endfor %}
                <h1 class="text-3xl text-center text-sky-900 pb-5 uppercase">Update Schedule</h1>
                <hr />
                <div class="flex flex-wrap -mx-3 mb-6 mt-4">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.train.id_for_label }}">{{ form.train.label }}</label>
                        {{ form.train }}
                        {% if form.train.errors %}
                            {% for error in form.train.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.station.id_for_label }}">{{ form.station.label }}</label>
                        {{ form.station }}
                        {% if form.station.errors %}
                            {% for error in form.station.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.arrival_time.id_for_label }}">{{ form.arrival_time.label }}</label>
                        {{ form.arrival_time }}
                        {% if form.arrival_time.errors %}
                            {% for error in form.arrival_time.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.departure_time.id_for_label }}">{{ form.departure_time.label }}</label>
                        {{ form.departure_time }}
                        {% if form.departure_time.errors %}
                            {% for error in form.departure_time.errors %}<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                               for="{{ form.halt_duration_minutes.id_for_label }}">
                            {{ form.halt_duration_minutes.label }}
                        </label>
                        {{ form.halt_duration_minutes }}
                        {% if form.halt_duration_minutes.errors %}
                            {% for error in form.halt_duration_minutes.errors %}
                                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <button class="w-full text-white border-0 bg-sky-500 hover:bg-sky-700 rounded px-4 py-2 focus:outline-none focus:shadow-outline uppercase"
                        type="submit">Update Schedule</button>
            </form>
        </div>
    </div>
{% endblock %}
