{% extends "base.html" %}
{% block title %}
    Trains Information
{% endblock title %}
{% block content %}
    <div class="container mx-auto pt-8 h-screen">
        <h1 class="text-2xl font-bold mb-4">Train Information</h1>
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Train Name</th>
                    <th class="py-2 px-4 border-b">Start Station</th>
                    <th class="py-2 px-4 border-b">End Station</th>
                    <th class="py-2 px-4 border-b">Total Seats</th>
                    <th class="py-2 px-4 border-b">Day of Week</th>
                    <th class="py-2 px-4 border-b"></th>
                </tr>
            </thead>
            <tbody>
                {% for train in trains %}
                    <tr>
                        <td class="py-2 px-4 border-b text-center">{{ train.name }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ train.start_station }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ train.end_station }}</td>
                        <td class="py-2 px-4 border-b text-center">{{ train.available_seats }}</td>
                        <td class="py-2 px-4 border-b text-center">
                            {% for day in train.day_of_week.all %}
                                {{ day.name }}
                                {% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <!-- Display these options only if the user is an admin -->
                            <td class="py-2 px-4 border-b text-center">
                                <a href="{% url 'train_update' pk=train.id %}">Update</a>
                            </td>
                            <td class="py-2 px-4 border-b text-center">
                                <a href="{% url 'train_delete' pk=train.id %}">Delete</a>
                            </td>
                        {% else %}
                            <td class="py-2 px-4 border-b text-center">
                                <a href="{% url 'schedule_view' train_id=train.id %}">View Schedule</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
